body {
    background-color: #191e3b;
    color: #c6ccee;

    font-family: "Ubuntu", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: rgb(56, 51, 112);
    color: #c6ccee;

    font-family: "Ubuntu", sans-serif;

}

.passo {
    display: none;

}

.passo.ativo {
    display: block;

}

main {
    text-align: center;
    max-width: 70%;

}

img {
    max-width: 60%;

}
.img-grande {
    max-width: 50%

}

.img-pequena {
    max-width: 80%

}
